
Java_Code/DanceManagerStudioClient/nbproject/private/private.properties
*.properties
*.class
*.properties
Java_Code/DanceManagerStudioClient/nbproject/private/private.properties
*.class
/Web_Service/DanceManager/build/
/Web_Service/DanceManager/dist/
/Web_Service/DanceManager/nbproject/private/
*.xml
*.xml
Java_Code/DanceManagerStudioClient/nbproject/private/private.properties
Java_Code/DanceManagerStudioClient/nbproject/private/private.properties
Java_Code/DanceManagerStudioClient/nbproject/private/private.xml
/Java_Code/DanceManagerStudioClient/dist/